<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servletconfig</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
  <param-name>username</param-name>
  <param-value>system</param-value>
  </context-param>
  
  
  <context-param>
  <param-name>password</param-name>
  <param-value>manager</param-value>
  </context-param>
  
  
  <servlet>
    <servlet-name>Firstservlet</servlet-name>
    <servlet-class>comcapgemini.Firstservlet</servlet-class>
    <init-param>
    <param-name>homeloan</param-name>
    <param-value>6.5</param-value>
    </init-param>
    
    
     <init-param>
    <param-name>carloan</param-name>
    <param-value>8.5</param-value>
    </init-param>
    
    
  </servlet>
  <servlet-mapping>
    <servlet-name>Firstservlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Secondservlet</servlet-name>
    <servlet-class>comcapgemini.Secondservlet</servlet-class>
    <init-param>
    <param-name>vcs1</param-name>
    <param-value>GitHub</param-value>
    </init-param>
    <init-param>
    <param-name>vcs2</param-name>
    <param-value>GitLab</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Secondservlet</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
</web-app>